/*
 * Copyright © 2025 [Calvin T Jones Jr]. All rights reserved.
 * This source code is protected under U.S. and international copyright laws.
 * Unauthorized reproduction, distribution, or modification is prohibited.
 * For licensing inquiries, contact [caltjr@gmail.com].
 */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
